<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<clear/>
		<add key="TemplatePath" value=""/>
		<!--文档输出目录-->
		<add key="OutputPath" value="md"/>
		<!--程序集、XML文件所在路径-->
		<add key="SourcePath" value="D:\denglei\Code\ming\slxt_cwjkdy\src\00_根目录\bin"/>
		<!--解析的Dll文件-->
		<add key="Dll" value="Mysoft.Cwjk.Core*.dll"/>
		<!---->
		<add key="OutputModule" value="Mysoft.Cwjk.Core.dll,Mysoft.Cwjk.Core.Interfaces.dll"/>
		<!---->
		<add key="OutputService" value="SyncObjectAppService"/>
		<!--输出方法-->
		<add key="OutputMethod" value=""/>
		<!--忽略的属性-->
		<add key="IgnoreProperty" value="Attributes,EntityName,EntityState,CreatedGUID,CreatedName,CreatedTime,ModifiedGUID,ModifiedName,ModifiedTime"/>
		<!--忽略的方法-->
		<add key="IgnoreMethods" value="RetryProcess,AddProcess,ValidateImportOpportunity,ValidateImportChanceClue,ImportChanceClueImp,ValidateUpdateRoom"/>
		<!--忽略的服务-->
		<add key="IgnoreServices" value="ProjectOverviewAppService,IParamSetttingPublicService,RoomGenerateAppService,IAppProcessPublicService"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
